In [1]:
import pandas as pd
import numpy as np

In [2]:
ach_boys_sci_priv=pd.read_csv('data/ach_boys_sci_priv.csv')
ach_boys_sci_priv['Gender']= 'male'
ach_boys_sci_priv['Exam Type']= 'achievement'
ach_boys_sci_priv['Curriculum Track']= 'scientific'
ach_boys_sci_priv.head()
ach_boys_sci_priv.shape

(401, 11)

In [3]:
ach_girls_sci_priv=pd.read_csv('data/ach_girls_sci_priv.csv')
ach_girls_sci_priv['Gender']= 'female'
ach_girls_sci_priv['Exam Type']= 'achievement'
ach_girls_sci_priv['Curriculum Track']= 'scientific'
ach_girls_sci_priv.head()
ach_girls_sci_priv.shape

(315, 11)

In [4]:
ach_girls_the_priv=pd.read_csv('data/ach_girls_the_priv.csv')
ach_girls_the_priv['Gender']= 'female'
ach_girls_the_priv['Exam Type']= 'achievement'
ach_girls_the_priv['Curriculum Track']= 'theoretical'
ach_girls_the_priv.head()
ach_girls_the_priv.shape

(147, 11)

In [5]:
cap_boys_sci_priv=pd.read_csv('data/cap_boys_sci_priv.csv')
cap_boys_sci_priv['Gender']= 'male'
cap_boys_sci_priv['Exam Type']= 'capabilities'
cap_boys_sci_priv['Curriculum Track']= 'scientific'
cap_boys_sci_priv.head()
cap_boys_sci_priv.shape

(417, 11)

In [6]:
cap_boys_the_priv=pd.read_csv('data/cap_boys_the_priv.csv')
cap_boys_the_priv['Gender']= 'male'
cap_boys_the_priv['Exam Type']= 'capabilities'
cap_boys_the_priv['Curriculum Track']= 'theoretical'
cap_boys_the_priv.head()
cap_boys_the_priv.shape

(23, 11)

In [7]:
cap_girls_sci_priv=pd.read_csv('data/cap_girls_sci_priv.csv')
cap_girls_sci_priv['Gender']= 'female'
cap_girls_sci_priv['Exam Type']= 'capabilities'
cap_girls_sci_priv['Curriculum Track']= 'scientific'
cap_girls_sci_priv.head()
cap_girls_sci_priv.shape

(330, 11)

In [8]:
cap_girls_the_priv=pd.read_csv('data/cap_girls_the_priv.csv')
cap_girls_the_priv['Gender']= 'female'
cap_girls_the_priv['Exam Type']= 'capabilities'
cap_girls_the_priv['Curriculum Track']= 'theoretical'
cap_girls_the_priv.head()
cap_girls_the_priv.shape

(163, 11)

In [9]:
complete_dataset= ach_boys_sci_priv.append([ach_girls_sci_priv, ach_girls_the_priv,
                                           cap_boys_sci_priv, cap_boys_the_priv,cap_girls_sci_priv,
                                           cap_girls_the_priv], ignore_index = True)

In [10]:
complete_dataset.shape

(1796, 11)

In [11]:
complete_dataset.drop(['General Rank', 'School Type'], axis=1, inplace=True)

In [12]:
complete_dataset.columns = complete_dataset.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [13]:
complete_dataset.isna().sum()

ministerial_number    0
school_name           0
city                  0
region                0
category              4
average               0
gender                0
exam_type             0
curriculum_track      0
dtype: int64

In [14]:
complete_dataset.dropna(inplace=True)

In [15]:
complete_dataset['ministerial_number'] = complete_dataset['ministerial_number'].astype(int)

In [16]:
complete_dataset.head()

,ministerial_number,school_name,city,region,category,average,gender,exam_type,curriculum_track
0,54421,ثانوية اجيال المواهب الاهلية,الخبر,AlSharquia,تعليم عام بنين,88.41,male,achievement,scientific
1,53854,ثانوية الجامعة الأهلية,الخبر,AlSharquia,تعليم عام بنين,87.75,male,achievement,scientific
2,26504,ثانوية الفلاح الأهلية,مكة المكرمة,Makkah,تعليم عام بنين,86.93,male,achievement,scientific
3,153006,ثانوية المشكاة الأهلية,الدمام,AlSharquia,تعليم عام بنين,86.05,male,achievement,scientific
4,11179,ثانوية نجد الأهلية,الرياض,Riyadh,تعليم عام بنين,85.57,male,achievement,scientific

In [17]:
complete_dataset.tail()

,ministerial_number,school_name,city,region,category,average,gender,exam_type,curriculum_track
1791,83801,ثانوية أنجال رفحاء الأهلية-بنات,رفحاء,Northern borders,تعليم عام بنات,63.47,female,capabilities,theoretical
1792,60886,ثانوية الأكاديمية العصرية لتعليم الكبيرات,حفر الباطن,AlSharquia,تعليم عام بنات,63.41,female,capabilities,theoretical
1793,96653,ثانوية الشفا الأهلية,الرياض,Riyadh,تعليم عام بنات,63.14,female,capabilities,theoretical
1794,60814,ثانوية المجد الأهلية,حفر الباطن,AlSharquia,تعليم عام بنات,62.63,female,capabilities,theoretical
1795,186879,ثانوية بيت القيم الاهلية بالقريات,القريات,Gouf,تعليم عام بنات,59.42,female,capabilities,theoretical

In [18]:
complete_dataset.to_csv('data/exam_scores_complete.csv', index=False)